.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
.image-size {
  width: 20px;
  height: 20px;
}
.btn-size {
  width: 20px;
  height: 20px;
}
.btn-color {
  background-color: #6288a5;
  color: white;
  padding: 10px 10px 10px 10px
}

.nav-bar {
  width: 100%;
  -moz-box-shadow: 0 8px 6px -6px #999;   
  box-shadow: 0 8px 6px -6px #999;
  overflow: hidden;
  padding-top: 10px;
}
.align-right {
  float: right;
  position: relative;
  bottom: 10px;
}
.align-left {
  float: left;
}
.align-center {
  position: relative;
  left: 350px;
  float: left;
}
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

li {
  list-style-type: none;
}
.svg-icon circle {
  stroke: black;
  stroke-width: 1;
}
.logo-name {
  width: 200px;
  height: 25%;
  display: inline;
  margin: 0 auto;
}
.align-section {
  text-align: center;
}
.text {
  text-align: left;
  position: relative;
  left: 200px;
  font-size: 0.9375rem;
  margin: 0 0 0 0;
}
.text1 {
  text-align: left;
  position: relative;
  left: 200px;
  font-size: 0.75rem;
  margin-top: 0%;
}

.main-container {
  margin: 10% 30% 10% 30%;
}

.head-line {
  width: 100%;
}

.head-line img {
  width: 75%;
  height: auto;
}
.date{
  display:flex;
  flex-direction: row;
}

.list-icon{
  display: flex;
  flex-direction: row;
  position: relative;
  left:50px;
  font-size: 32px;

}
p{
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 1.125rem;
}
a {
  text-decoration: none;
  color: black;
}
body{
  font-family: nyt-imperial,georgia,'times new roman',times,serif;

}
h1{
  position: relative;
  left: 15%;
  text-align: left;
  
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
}